<!doctype html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Блог</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Marck+Script&family=Reggae+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <div>
        <p>Интересные события из моей жизни</p>
    </div>
</header>
<a href="{% url 'index' %}"><button>На главную</button></a>
<a href="{% url 'video' %}"><button>Видео</button></a>
<div class="container">
{% for el in blog %}
<h2>{{ el.title }}</h2>
<p>{{ el.description }}</p>
{% if el.img %}
<img src="{{ el.img.url }}" height="200" width="200">
{% endif %}
{% if el.audio %}
<audio  controls>
    <source src="{{ el.audio.url }}">
</audio>
{% endif %}
{% if el.url %}
<a href="{{ el.url }}" target="_blank">Ссылочка</a>
    <br>
    <br>
    <br>
    <br>
{% endif %}
{% endfor %}
</div>


</body>
</html>